


<!DOCTYPE html>
<html>
  <head>
    <title>Inicio de Sesión</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div id="wrap">
        <h3>Inicio de Sesión</h3>
        <form method="POST" action="{{url_for('login')}}">
            Email: <input type="text" name="email"/><br />
            Password: <input type="password" name="password" /><br />
            <p><input type="submit" value="Login" /></p>
        </form>
    </div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
